Source: puppet-module-puppetlabs-apache
Maintainer: Scibian Project <packaging@scibian.org>
Uploaders: Stig Sandbeck Mathisen <ssm@debian.org>,
           Thomas Bechtold <toabctl@debian.org>
Section: admin
#Testsuite: autopkgtest
Priority: optional
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.8
Vcs-Browser: https://github.com/scibian/puppet-module-puppetlabs-apache
Vcs-Git: https://github.com/scibian/puppet-module-puppetlabs-apache.git
Homepage: https://forge.puppet.com/puppetlabs/apache

Package: puppet-module-puppetlabs-apache
Architecture: all
Depends: ${misc:Depends},
         puppet5 | puppet5-common
         puppet-module-puppetlabs-stdlib,
         puppet-module-puppetlabs-concat
Description: Puppet module for apache
 Puppet lets you centrally manage every important aspect of your system
 using a cross-platform specification language that manages all the
 separate elements normally aggregated in different files, like users,
 cron jobs, and hosts, along with obviously discrete elements like
 packages, services, and files.
 .
 This module includes the ability to configure and manage a range of 
 different virtual host setups, as well as a streamlined way to install 
 and configure Apache modules.
